th {
    text-align: left;
}
body {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    line-height: 175%;
    margin: 0 15% 0; 
    
    background-color: cornflowerblue;
    color: white;
}
footer {
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px;
    background-color: cornflowerblue;
    color:floralwhite;
    border-style: double;
    border-radius: 18px;
}

ul a {
    color: white;
    text-decoration: none;
}

li {
    display: inline-block;
    height: 22px;
    width: 200px;
    padding: 10px;
    text-align: center;
    background-color: rgb(151, 151, 238);
    color: floralwhite;
    border: 1px solid white;
    border-radius: 4px;
}

li:hover {
    background-color: darkorange;
    border-style: none;
}